/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
}
h1 {
  font-size: 5.6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  line-height: 7rem;
}
h3 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  line-height: 4rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('../images/background3.jpg');
  background-size: 100%, cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 100vh;
  text-align: right;
}
.header .header-content {
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.25);
}
.header p {
  line-height: 3.5rem;
  font-size: 2.6rem;
  color: #D1E5F9;
  margin-bottom: 4rem;
  max-width: 60rem;
}
.header p a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px dotted #FFFFFF;
}
.header p a:hover {
  border: none;
}
.intro-container,
.content-container,
.icon-text-container,
.bottom-container,
.footer {
  padding: 8rem 0 4rem 0;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-bottom: 1px rgba(224, 224, 224) solid;
}
.intro-container .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(224, 224, 224);
  margin-bottom: 3.5rem;
}
.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
}
.middle-container .content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(224, 224, 224);
}
.middle-container .content-container:last-child {
  border: none;
}
.middle-container .content-container .text-container {
  width: 70%;
  padding-left: 5%;
}
.middle-container .content-container img {
  min-width: 10rem;
  width: 30%;
  border-radius: 100%;
  border: 4px #4696E5 solid;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px rgba(224, 224, 224) solid;
  max-width: 90rem;
  margin: 0 auto;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}
.bottom-container p {
  margin: 0 2rem;
  margin-bottom: 4rem;
}
.bottom-container .button-container {
  margin-top: 2rem;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
  border-top: 1px rgba(224, 224, 224) solid;
}
.footer .icons-container {
  margin-bottom: 3.5rem;
}
.footer .icons-container span {
  margin: 0 2.5rem;
}
.footer p {
  font-size: 1.4rem;
}
.footer p a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba(224, 224, 224);
}
.footer p a:hover {
  color: #4696E5;
  border: none;
}
.btn.login {
  padding: 1.5rem 3rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  color: #4696E5;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #FFFFFF;
  transition: background-color 0.5s ease;
  margin-left: 2rem;
}
.btn.login:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}
.btn.lrn-more {
  padding: 1.5rem 3rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #4696E5;
  transition: background-color 0.5s ease;
  margin-left: 2rem;
}
.btn.lrn-more:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}
.short-divider {
  width: 5%;
  border-bottom: 2px solid rgba(224, 224, 224);
  margin-bottom: 4rem;
}
