// mixins

// flexbox
.flex(@direction: row; @justify: space-between; @wrap: wrap; @align: center;) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    flex-wrap: @wrap;
    align-items: @align;
}

.button(@btn-bg: #FFFFFF; @btn-font-clr: #4696E5; @btn-bg-per: 75%;) {
    padding: 1.5rem 3rem;
    border: 2px solid rgba(255, 255, 255, 50%);
    border-radius: .6rem;
    color: @btn-font-clr;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: @btn-bg;
    transition: background-color 0.5s ease;

    &:hover {
        cursor: pointer;
        background-color: fade(#FFFFFF, @btn-bg-per);
    }
}