// mixins

// flexbox
.flex(@direction: row; @justify: space-between; @wrap: wrap; @align: center;) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    flex-wrap: @wrap;
    align-items: @align;
}

// button
.button(@btn-bg-clr: white; @btn-font-clr: @theme; @btn-bg-per: 75%;) {
    padding: 1.5rem 3rem;
    border: 2px solid rgba(0, 0, 0, 50%);
    border-radius: .6rem;
    color: @btn-font-clr;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: @btn-bg-clr;
    transition: background-color 0.5s ease;

    &:hover {
        cursor: pointer;
        background-color: @theme-50;
    }
}

// parallax effect
.parallax(@bg-img: none; @bg-color: none;) {
    background-image: @bg-img;
    background-color: @bg-color;
    background-size: cover 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}