// navigation

.navbar {
    .flex();

    @media @mobile {
        flex-direction: column;
    }

    // text style
    color: @theme;
    text-decoration: none;
    font-size: 2.4rem;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1rem 0;
    background-color: white;
    border-bottom: 1px @gray solid;

    .navbar-container {
        .flex();

        @media @mobile {
            width: 100%;
        }
    }

    .navbar-logo {
        font-size: 3rem;
        color: @theme;
        text-decoration: none;
        margin: 0 2rem;
        font-weight: bold;
    }

    .navbar-links {
        .flex(@justify: space-between;);

        .navbar-item {
            margin: 0 2rem;

            a {
                color: @theme;
                text-decoration: none;
            }

            @media @mobile {
                border-bottom: 1px #999999 solid;
                width: 100%;
                padding: 1rem 0;
                padding-left: 2rem;
                margin: 0;

                &:first-child {
                    border-top: 1px #999999 solid;
                    margin-top: 1rem;
                }
            }
        }

        @media @mobile {
            display: none;
            flex-direction: column;
            width: 100%;
        }
    }

    .hamburger-links {
        display: none;
        color: @theme;
        font-size: 3rem;
        background: none;
        border: none;
        margin-right: 1rem;

        @media @mobile {
            display: flex;
        }
    }
}