// navigation

.navbar {
    .flex();

    // text style
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    position: fixed;
    top: 0px;
    height: 6rem;
    width: 100%;
    background-color: @theme;

    .navbar-logo {
        font-size: 3rem;
        color: white;
        text-decoration: none;
        margin: 0 2rem;
        font-weight: bold;
    }

    .navbar-links {
        .flex(@justify: space-between;);

        .navbar-item {
            margin: 0 2rem;

            a {
                color: white;
                text-decoration: none;
            }
        }

        @media @mobile {
            display: none;
        }
    }

    .navbar-dropdown {
        display: none;
        margin: 0 2rem;

        &:hover {
            background-color: magenta;
        }
        
        @media @mobile {
            display: inline-block;
        }
    }
}