// variables

// header bg
@hdr-bg-img: linear-gradient(to top right, #5574F7, #60C3FF);

// mobile/tablet sizes
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

// color table
@theme: rgba(70, 150, 229);
@theme-50: rgba(70, 150, 229, 50%);
@gray: #999999;